*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background:#ffffff;
    color:#222;
    line-height:1.6;
}

header{
    background:#062a5c;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    flex-wrap:wrap;
}

.logo h1{
    color:#d4af37;
    font-size:40px;
}

.logo p{
    font-size:14px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:10px;
    font-weight:600;
}

nav a:hover{
    color:#d4af37;
}

.btn{
    background:#d4af37;
    color:#062a5c;
    padding:12px 25px;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
}


.hero{
    background:linear-gradient(
        rgba(6,42,92,0.8),
        rgba(6,42,92,0.8)
    ),
    url("logo.png");

    background-size:cover;
    background-position:center;

    color:white;
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:45px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    margin-bottom:30px;
}


section{
    padding:60px 10%;
    text-align:center;
}

section h2{
    color:#062a5c;
    font-size:35px;
    margin-bottom:20px;
}


.card{
    display:inline-block;
    width:280px;
    padding:25px;
    margin:15px;
    background:white;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.card h3{
    color:#d4af37;
    margin-bottom:15px;
}


#admission{
    background:#f5f8ff;
}


#contact{
    background:#062a5c;
    color:white;
}

#contact h2{
    color:#d4af37;
}


footer{
    background:#03162f;
    color:white;
    text-align:center;
    padding:20px;
}


/* Mobile Design */

@media(max-width:768px){

header{
    flex-direction:column;
    text-align:center;
}

nav{
    margin:20px 0;
}

.hero h1{
    font-size:30px;
}

.hero p{
    font-size:18px;
}

.card{
    width:90%;
}

}
